
.paragraph{
    @media screen and (min-width:1600px){
        text-align: justify;
        margin-left:400px;
        margin-right:400px;  
        font-size:18px; 
    }
    a{
        color: white; 
    }
}