$font:'Nunito', sans-serif; 
$desktop : 1000px;
$topNavHeight       : 9vh; 
$pageHeight         : 86vh; 
$bottomNavHeight    : 5vh ; 
$color: rgba(29, 37, 45, 0.99);

$buildLabHeight: 70vh;
$borders : 2px dashed gray;


.container {
    display:none ; 

    @media screen and (min-width: 1200px){
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
 
        border-radius:20px;
        background: #f0f0f0;
        box-sizing: border-box;
        width:80%;
        max-width: 90vw;
        height:90%;
        max-height: $buildLabHeight + 10vh;
        overflow:hidden;
    }
  }

.canvas {
    box-sizing: border-box; 
    border:$borders;
    overflow: hidden;
    background-color: rgba(61, 61, 82, 0.99);

    @media screen and (min-width: $desktop){
        width:85%; 
        height:80%;
    }
}

.buildLabContainer{
  box-sizing: border-box;
  display: flex;

  flex-direction: row;
  padding-left:2vw; 

}

.buildLab {
    width: 80vw;
    height:  $buildLabHeight;
    background-color:$color;
    border-radius:20px;
  }

.buildLabRightPane{
    box-sizing: border-box;
    margin-left:1vw;
    background-color: white;
    width:15vw;
    height:  $buildLabHeight;
    border-radius: 20px;
}

.clockController{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top:30px;  
  div.clockButton{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size:18px;
    color: white; 
    margin-bottom:20px; 
    box-sizing: border-box;
    background-color: brown;
    border:1px black solid; 
    border-radius: 3px;
    margin-right:2vw;
    width: 4vw !important;
    height:3vh; 
    max-width:4vw !important;
  }
}

  @keyframes anime {
    0% {
      width: 60px;
      height: 60px;
      background: $color;
      box-shadow:  0 0 0 #cccccc,
                   0 0 0 #ffffff,
                    10px 10px 10px #cccccc inset,
                    -10px -10px 10px #ffffff inset;
    }
    25% {
      width: 60px;
      height: 60px;
      background: $color;
    }
    50% {
      width: 60px;
      height: 60vh;
      background: $color;
    }

    100% {
      width: 80vw;
      height: $buildLabHeight; 
      background: $color;
    }
}