$font:'Nunito', sans-serif; 
$desktop : 1000px;
$topNavHeight       : 9vh; 
$pageHeight         : 86vh; 
$bottomNavHeight    : 5vh ; 

$borders : 2px dashed gray;

.canvas {
    box-sizing: border-box; 
    border:$borders;
    overflow: hidden;
    background-color: rgba(61, 61, 82, 0.99);

    @media screen and (min-width: $desktop){
        width:85%; 
        height:80%;
    }
}
