$topNavHeight : 5vh; 
$pageHeight   : 95vh; 

.topNav {

    position:absolute ; 
    z-index: 2 ;
    top: 10; 
    left:0;
    background-color: rgba($color: #000f00, $alpha: 0.1); 
    color  : white;  
    height : $topNavHeight ;  
    width  : 100vw;  
}

.page {
    position:absolute;
    box-sizing: border-box; 
    z-index : 1; 
    left:0;
    top:$topNavHeight;
    width: 100vw; 
    height: $pageHeight;  
    border-top:1px black solid; 
    background-color: orange;
    @media (min-width: 768px) {
        top:0;
        height: 100vh; 
    }


}   
