@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

$topNavHeight       : 9vh; 
$pageHeight         : 86vh; 
$bottomNavHeight    : 10vh;

body {    
    font : 'Nunito', sans-serif;
    box-sizing: border-box;
    overflow:hidden;
}

.pageContainer {
  /*  box-sizing: border-box;
    position:absolute; 
    top: 0;
    left:0;
    z-index:1;
    height:100vh;
    width:100vw; 
    display:flex;
    flex-direction:column;*/

    @media screen and (min-width: 768px){
        background: none;
    }

}


.fullPage {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top:$topNavHeight; 
    min-height:$pageHeight; 
    color : black;  

    @media screen and (min-width:600px){
        background-color: blue;

    }

}
.title {
    font-size: 3vh;
    font-stretch: 1vw; 
    color: white;
}

.subTitle {
   padding-top:35px; 
   font-size:15px;  
}

video.backgroundVideo{
    box-sizing: border-box;
    position: absolute;
    object-fit: cover;
    overflow: hidden;
    z-index:1; 

    width:100vw; 
    max-width: 100vw;

    height:100vh;
    max-height: 100vh; 
    top:0;  
    left:0;

    @media screen and (min-width: 500px) {
        height:$topNavHeight ;
        height:100vh;
        margin:0;
        padding:0;
    }
}