$topNavHeight       : 9vh; 
$pageHeight         : 86vh; 
$bottomNavHeight    : 5vh;
 

.topNav {
    box-sizing: border-box;
    display:none;
    justify-content: center ;
    color  : white;  
    width  : 100vw;    
    padding: 0;
    -webkit-font-smoothing: antialiased;
    text-transform: capitalize;

    @media screen and (min-width: 600px){
        font-family:'Nunito', sans-serif;
        position: absolute ; 
        top:0; 
        left:0; 
        box-sizing: border-box;
        display: flex ;
        flex-direction: row;
        justify-content: space-around;
        line-height: initial; 
        margin:0;
        z-index:200;
        background: none;
    }
     
    >div{
        font-size:30px;
        box-sizing: border-box;
        display: flex;
        align-items: stretch;
        justify-content: space-around;
     }

    >div:first-child{
        max-width:5vw;
        min-width:5vw;
    }
    >div:nth-child(2){
        width:stretch;
    }
    >div:nth-child(3){
        width:20%;
    }
}

.navItem{
    background-color: rgba($color: #a0f0f0, $alpha: 0.4);
    margin-left:10px;
    flex:1;
    align-self: stretch;
    text-align: center;
    cursor: pointer;
}

.navItem:hover{
    background-color: rgba($color: #a0ff00, $alpha: 0.3);
}

.topNav h3{
    font-size:30px;
    font-stretch: extra-expanded; 
}