
$font:'Nunito', sans-serif; 
$desktop : 1200px;
$topNavHeight       : 9vh; 
$pageHeight         : 86vh; 
$bottomNavHeight    : 5vh ;
$border : 1px dashed white; 

.text{
    box-sizing: border-box;
    height:100%;
    
    @media screen and (min-width: $desktop) {
        padding-top:2vh;
        padding-bottom:2vh;
        font-family : $font; 
        font-size:30px;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        color:white;
        position:absolute;
        align-self: flex-start;
        z-index: 3;
        height:auto;
        max-width:40vw;
        border-top:$border ; 
        border-bottom:$border ; 
        }
    }

.title {
    font-size: 50px;
    letter-spacing: 8px;
    padding-bottom:20px;
}


