
$font:'Nunito', sans-serif; 
$desktop : 1000px;
$topNavHeight       : 9vh; 
$pageHeight         : 86vh; 
$bottomNavHeight    : 5vh ; 

.text{
    box-sizing: border-box;
    height:100%;
    
    @media screen and (min-width: $desktop) {
        margin-left:2vw;
        padding-top:2vh;
        padding-bottom:2vh;
        font-family : $font; 
        font-size:30px;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        color:white;
        position:absolute;
        align-self: flex-start;
        z-index: 3;
        height:auto;
        max-width:40vw;
        border-top:1px solid white;
        border-bottom:1px solid white;
    }
}

.title {
    font-size: 50px;
}


